server:
  port: 8082

spring:
  application:
    name: ride-service
  datasource:
    url: jdbc:mysql://localhost:3306/ride_db?createDatabaseIfNotExist=true
    username: root
    password: Mahesh@123
    driver-class-name: com.mysql.cj.jdbc.Driver
  jpa:
    hibernate:
      ddl-auto: update
    show-sql: true
    properties:
      hibernate:
        dialect: org.hibernate.dialect.MySQL8Dialect

eureka:
  client:
    service-url:
      defaultZone: http://localhost:8761/eureka/
  instance:
    prefer-ip-address: true

# OpenRouteService Configuration
openrouteservice:
  api-key: eyJvcmciOiI1YjNjZTM1OTc4NTExMTAwMDFjZjYyNDgiLCJpZCI6ImU0ZTBjMzc0MTc5NDQzNmZhMTk5OTAwYTBiYmJmMzRjIiwiaCI6Im11cm11cjY0In0=
  # Get FREE API key from: https://openrouteservice.org/dev/#/signup
  # FREE tier: 2,000 requests per day (40 requests per minute)

  # API Base URLs
  base-url: https://api.openrouteservice.org
  geocode-url: https://api.openrouteservice.org/geocode/search
  directions-url: https://api.openrouteservice.org/v2/directions/driving-car
